@using CrudCarreras.Models
@model CrudCarreras.Models.CarreraModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarreraModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distancia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distancia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            Codigos-Dorsales
        </dt>
        <dd class = "col-sm-10">
            <form method="post" enctype="multipart/form-data" asp-action="UploadCodigos" asp-route-id="@Model.CarreraId">
                <div class="form-group">
                    <input type="hidden" asp-for="CarreraId" />
                    <input type="file" name="codigosFile"  />
                    <input type="submit" value="Asociar Codigos" />
                </div>
            </form>
        </dd>
        <dt class = "col-sm-2">
            Codigos-Tiempos
        </dt>
        <dd class = "col-sm-10">
            <form method="post" enctype="multipart/form-data" asp-action="UploadTiempos" asp-route-id="@Model.CarreraId">
                <div class="form-group">
                    <input type="hidden" asp-for="CarreraId" />
                    <input type="file" name="tiemposFile"  />
                    <input type="submit" value="Calcular Tiempos" />
                </div>
            </form>
        </dd>
    </dl>
</div>
<div>
    <h4>Participantes</h4>
    <table class="table">
        <thead>
        
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Participantes.First().Dorsal)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Participantes.First().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Participantes.First().Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Participantes.First().DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Participantes.First().Club)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Participantes.First().Tiempo)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Participantes.First().Posicion)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Participantes.First().Dorsal.Codigo)
            </th>
            <th></th>
        </tr>
        </thead>
    <tbody>
@foreach (var item in @Model.Participantes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dorsal.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaPersonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dorsal.Codigo)
            </td>
            <td>
                <a asp-controller="Participantes" asp-action="Edit" asp-route-id="@item.ParticipanteId">Edit</a> |
                <a asp-controller="Participantes" asp-action="Details" asp-route-id="@item.ParticipanteId">Details</a> |
                <a asp-controller="Participantes" asp-action="Delete" asp-route-id="@item.ParticipanteId">Delete</a>
            </td>
        </tr>}
    </tbody>
</table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarreraId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>